absl-py
arrow
asgiref
asttokens
astunparse
certifi
charset-normalizer
click
colorama
comm
debugpy
decorator
Django
django-extensions
django-tailwind
executing
ffmpeg-python
flatbuffers
future
gast
google-pasta
grpcio
gTTS
h5py
idna
imageio
imageio-ffmpeg
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
keras
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
ml-dtypes
moviepy
mysqlclient
namex
nest-asyncio
nltk
numpy
opencv-python
opencv-python-headless
opt_einsum
optree
packaging
pandas
parso
pillow
platformdirs
proglog
prompt_toolkit
protobuf
psutil
pure_eval
pydub
Pygments
pythainlp
python-dateutil
python-dotenv
pytz
pywin32
pyzmq
regex
requests
rich
scikit-learn
scipy
setuptools
six
sqlparse
stack-data
tensorboard
tensorboard-data-server
tensorflow
tensorflow_intel
termcolor
threadpoolctl
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
wheel
wrapt
